<!-- <body bgcolor="#DFD519">
    <div class="header">
    <input id="notesButton" type="button" class="btn btn-primary" value="Notes">
    <input id="logoutButton" type="button" class="btn btn-primary" value="Log Out">
    </div>

    <div class="row  pad-top col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-success">
            <div class="panel-body">

                <div class="row text-center pad-top col-md-12"> <h3> Profile </h3> </div>

                Name
                <input id="name" maxlength="40" type="text" class="form-control form-group input-group" />
                Email
                <input id="email" maxlength="40" type="email" class="form-control form-group input-group" />

                <input id="changeDataButton" type="button" class="btn btn-success form-group input-group" value="Save"/>

                <div class="row text-center pad-top col-md-12"> <h3> Change password </h3> </div>

                Password
                <input id="oldPassword" maxlength="40" type="password" class="form-control form-group input-group" />
                New password
                <input id="newPassword" maxlength="40" type="password" class="form-control form-group input-group" />
                Repeat new password
                <input id="repeatNewPassword" maxlength="40" type="password" class="form-control form-group input-group" />

                <input id="changePasswordButton" type="button" class="btn btn-success form-group input-group" value="Change password"/>

            </div>
        </div>
    </div>

</body>
 -->