<body class="body">
    <input id="loginButton" type="button" class="btn btn-primary" value="Login">
    <div class="row text-center pad-top col-md-12"> <h1> VikaKeep Registration Page </h1> </div>

    <div class="row  pad-top col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-success">
            <div class="panel-heading"> Registration </div>
            <div class="panel-body">
                <input id="email" type="email" class="form-control form-group input-group" placeholder="Email"/>
                <input id="name" type="text" class="form-control form-group input-group" placeholder="Name">
                <input id="password" maxlength="40" type="password" placeholder="Password" class="form-control form-group input-group"/>
                <input id="repeatPassword" maxlength="40" type="password"  placeholder="Repeat password" class="form-control form-group input-group"/>
                <input id="submitButton" type="button" class="btn btn-success form-group input-group" value="Register"/>
            </div>
        </div>
    </div>
</body>
